body{
    background-image: url(backgrounds-blank-blue-953214.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arvo, serif;
    position: relative;
}

.logo{
    height: 30px;
    margin-left: 20px;
}

.navbar{
    margin-bottom: 30px;
}
.navbar-inverse{
    background: rgba(0,0,0,0.5); 
}

.nav li{
    color: #fff;
    font-weight: bold;
    margin-right: 35px;
    font-size: 17px;
    padding: 10px 0;
}

#nav1{
    margin-right: 30px;
}

.nav li:first-child{
    margin-left: 35px;
}

.nav li:hover{
    border-bottom: 2px solid #00FFB8; 
    padding-bottom: 8px;
    cursor: pointer;
} 

.slider-row{
	margin: 0;
	padding: 0;
}
.slider-wrapper{
	margin: 0;
	padding: 0 !important;
	background: #000 !important;
}
.carousel-caption h1{
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;

}
.carousel-caption p{
    font-size: 40px;
    color: grey;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: -15px;
}
.carousel-caption button{
    width: 240px;
    height: 60px;
    background: #1EA7B3;
	color: #fff;
	font-size: 30px;
	text-transform: capitalize;
    border-radius: 15px;
	border:0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.carousel-caption button:hover{
	background: #2a2a2a;
}
.carousel-control{
	width: 5%;
}
.carousel-inner{
	background: -webkit-linear-gradient(left, #000 , blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #000, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #000, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #000 , blue); /* Standard syntax */
}
.item{
	position: relative;
}
.carousel-caption {
	position: absolute;
	text-align: left;
	left: 12%;
    line-height: 1;
    top: 48%;
    margin-top: -100px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  font-size: 18px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  color: transparent;
  margin-left: 0;
  margin-top: -10px;
}
.row{
    height: 100% !important;
}

.contact{
    margin-top: 70px;
}
.btn{
    background-color: rgba(0, 255, 184, 0.5);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    padding: 10px 65px;
    letter-spacing: 1.3px;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    border: none;
}
    
.inline{
    display: inline;
}

.space1{
    margin-right: 7.5px;
}

.space2{
    margin-left: 7.5px;
}

h4 {
  font-weight: bold;
  color: #fff;
}
.close {
  color: #fff;
  transform: scale(1.2)
}
.modal-content {
  font-weight: bold;
  background: #28c2c2;
    opacity: 0.9;
}
.form-control {
  margin: 1em 0;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;  
  border-color: #fff;
}
.same {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;  
}
.form-control::-webkit-input-placeholder {
  color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #FAB87F;
  color: #FAB87F;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: #FAB87F;
  color: #fff;
}
.forget a{
    color: #fff;
}

.forget{
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: underline;
}

.tab-types{
    margin-bottom: 5px;
}

.tab-types li a{
    color: #fff;
}